.button {
  background-color: transparent;
  border-color: #ff6e6e;
  color: #943b3b;
  width:100%;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #ff6e6e;
  border-radius: 30px;
  padding: 3px 10px;
  margin-left: 5px;
  color: #1d1d1d;
  max-width: 100%;
}