.active{
  padding: 10px 5vh;
  color: whitesmoke;
  font-size: 2vh;
  text-decoration: none;
}

.active:hover {
  color: #ff6e6e;
  border-bottom: 5px inset #ff6e6e;
  background: rgba(255, 110, 110, 0.23);
}


